.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   gap: 20px
}
.overskrift {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
article {
    grid-column: 1;
    grid-row: 2;
}
footer {
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
}
section {
    grid-column: 2;
    grid-row: 2;
}

nav {
    grid-column: 3;
    grid-row: 2;
}


    img{
        width: 75px;
        length: 75px;
        border-radius: 50%;
        align-content: normal;
        vertical-align: middle;
}
